{% extends "darkmode_test/base_dark.html" %}
{% block content %}
<div class="flex justify-center items-center min-h-[80vh]">
  <div class="p-10 m-4 w-full max-w-xl rounded-lg flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-4 text-center">Exportar Dades</h1>
    <p class="mb-4 text-center">Exporta les dades del sistema a un fitxer apte per Excel.</p>
<form method="POST" action="{{ url_for('exportar_post') }}">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border-xl p-4">
    <label class="label">
      <input type="checkbox" id="ordinadors" name="ordinadors" checked="checked" class="checkbox [--input-color:var(--color-blue-600)]" />
      Ordinadors
    </label>
    <label class="label">
      <input type="checkbox" id="alumnes" name="alumnes" checked="checked" class="checkbox [--input-color:var(--color-blue-600)]" />
      Alumnes
    </label>
    <label class="label">
      <input type="checkbox" id="historial" name="historial" checked="checked" class="checkbox [--input-color:var(--color-blue-600)]" />
      Historial
    </label>
    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white p-2 w-full rounded">Exportar dades! ⤓</button>
  </fieldset>
</form>
  </div>
</div>
{% endblock %}
