{% extends "base.html" %}
{% block content %}
<div class="flex justify-center items-center p-10">

    <div class="p-10 w-full max-w-xl border-5 border-[rgb(115_111_85)] rounded-lg flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-4 text-center">Afegir Alumne</h1>
    <p class="mb-4 text-center">Introdueix les dades de l'alumne per afegir-lo al sistema. No es obligatori assignar un ordinador.</p>
    <form method="POST" action="{{ url_for('post_alumne') }}" class="p-5 flex flex-col gap-4 w-full">
    <input type="text" name="nom" placeholder="Nom i primer cognom de l'alumne" class="border p-2 w-full" required>
    <input type="text" name="identificador" placeholder="Identificador de l'alumne o alumna" class="border p-2 w-full" required>
    <input type="text" name="curs" placeholder="Curs" class="border p-2 w-full" required>
    <input type="email" name="email" placeholder="Correu electrònic" class="border p-2 w-full" required>
    <input type="text" name="ordinador_id" placeholder="ID de l'ordinador (opcional)" class="border p-2 w-full">
    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white w-full p-2 rounded">Enregistrar alumne</button>
    </div>

</div>
{% endblock %}