{% extends "darkmode_test/base_dark.html" %}
{% block content %}
<div class="flex justify-center items-center min-h-[80vh]">

  <div class="p-10 m-4 w-full max-w-xl rounded-lg flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-4 text-center">Editar Alumne</h1>
    <p class="mb-4 text-center">Modifica les dades de l'alumne i guarda els canvis.</p>
<form method="POST" action="{{ url_for('actualitzar_alumne_html', alumne_id=alumne.id) }}">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border-xl p-4">
    <label class="label">Nom i primer cognom</label>
    <input type="text" name="nom" value="{{ alumne.nom }}" class="input" required />
    <label class="label">Identificador</label>
    <input type="text" name="identificador" value="{{ alumne.identificador }}" class="input" required />
    <label class="label">Curs</label>
    <input type="text" name="curs" value="{{ alumne.curs }}" class="input" required />
    <label class="label">Correu electrònic</label>
    <input type="email" name="email" value="{{ alumne.email }}" class="input" required />
    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white p-2 w-full rounded">Guardar canvis</button>
  </fieldset>
</form>
  </div>

</div>
{% endblock %}