{% extends "base.html" %}
{% block content %}
<div class="flex justify-center items-center p-10">
  <div class="p-10 m-4 w-full max-w-xl rounded-lg flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-4 text-center">Afegir Ordinador</h1>
    <p class="mb-4 text-center">Introdueix les dades de l'ordinador per afegir-lo al sistema. No es obligatori assignar un alumne.</p>
<form method="POST" action="{{ url_for('post_ordinador') }}">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border-xl p-4">
    <label class="label">Número de sèrie</label>
    <input type="text" name="num_serie" placeholder="Número de sèrie" class="input" required />
    <label class="label">SACE</label>
    <input type="text" name="sace" placeholder="SACE" class="input" required />
    <label class="label">Model</label>
    <input type="text" name="model" placeholder="Model" class="input" required />
    <label class="label">Id del alumne (opcional)</label>
    <input type="text" name="alumne_id" placeholder="ID de l'alumne" class="input" />
    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white p-2 w-full rounded">Crear ordinador</button>
  </fieldset>
</form>
  </div>
</div>
{% endblock %}
