{% extends "base.html" %}
{% block content %}
<div class="p-10">
    <a href="{{url_for('formulari_ordinadors')}}" class="button bg-[rgb(72_114_0)] text-white rounded p-2 mb-4 inline-block">Afegir Ordinador</a>
<table class="table-auto w-full border-spacing-2 border border-slate-400 border-collapse border border-gray-700">
    <thead>
        <tr>
            <th class="border border-gray-700 p-2">ID</th>
            <th class="border border-gray-700 p-2">Model</th>
            <th class="border border-gray-700 p-2">Num. Sèrie</th>
            <th class="border border-gray-700 p-2">Estat</th>
            <th class="border border-gray-700 p-2">Ref. Diputació</th>
            <th class="border border-gray-700 p-2">Alumne</th>
        </tr>
    </thead>
    {% for ordinador in ordinadors %}
    <tr>
        <td class="border border-gray-700 p-2">{{ ordinador.id }}</td>
        <td class="border border-gray-700 p-2">{{ ordinador.model }}</td>
        <td class="border border-gray-700 p-2">{{ ordinador.num_serie }}</td>
        <td class="border border-gray-700 p-2" style="text-transform: capitalize;">{{ ordinador.estat }}</td>
        <td class="border border-gray-700 p-2">{{ ordinador.ref_diputacio }}</td>
        <td class="border border-gray-700 p-2">{{ ordinador.alumne.nom if ordinador.alumne else "Sense assignar" }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}