html {
    font-size: 125%;
}

body {
    background: linear-gradient(to right, #e4d89c, #d9bda6);
    color: black;
    font-family: "Century Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav {
    background-color: rgb(245, 245, 244);
    color: black;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

table {
    border: 3px solid rgb(3, 3, 3);
}

h1 {
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

 asfdjlkdsf{
    background-color: rgb(115, 111, 85)
 }