html {
    font-size: 125%;
}

body {
    background-color: #170e09;
    color: white;
    font-family: "Century Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav {
    background-color: rgb(145 128 107);
    color: white;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

table {
    border: 3px solid rgb(221, 222, 167);
}

h1 {
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}
