html {
    font-size: 125%;
    background-color: rgb(234, 242, 215);
}

body {
    color: black;
    font-family: "Century Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav {
    color: black;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

table {
    border-collapse: collapse;
}

table tr {
    border-top: 1px solid #56585a;
    border-bottom: 1px solid #333334;
}

table thead tr {
    border-bottom: 2px solid #0e0e0e;
    border-top: none
}


h1 {
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

input {
    background-color: rgb(255, 255, 255);
    text-align: center;
}