html {
    font-size: 125%;
    background-color: #170e09;
}

body {
    color: white;
    font-family: "Century Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav {
    background-color: #0c0805;
    color: white;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

table {
    border-collapse: collapse;
}

table tr {
    border-top: 1px solid rgba(221, 222, 167, 0.35);
    border-bottom: 1px solid rgba(221, 222, 167, 0.2);
}

table thead tr {
    border-bottom: 2px solid rgb(221, 222, 167);
    border-top: none
}
h1 {
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}
