{% extends "darkmode_test/base_dark.html" %}
{% block content %}
<div class="p-10">
<table class="table-auto table-m w-full">
    <thead>
        <tr>
            <th class="p-2">ID</th>
            <th>Acció</th>
            <th>Data i hora</th>
            <th>Id del ordinador</th>
            <th>Id del alumne</th>
            <th>Alumne afectat</th>
        </tr>
    </thead>
    {% for historial in historial %}
    <tr>
        <td class="text-center p-2">{{ historial.id }}</td>
        <td class="text-center" style="text-transform: capitalize;">{{ historial.accio }}</td>
        <td class="text-center">{{ historial.data }}</td>
        <td class="text-center">{{ historial.ordinador_id }}</td>
        <td class="text-center">{{ historial.alumne_id }}</td>
        <td class="text-center">{{ historial.alumne_nom }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}