{% extends "base.html" %}
{% block content %}
<div class="flex justify-center items-center p-10">

  <div class="p-10 m-4 w-full max-w-xl rounded-lg flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-4 text-center">Afegir Alumne</h1>
    <p class="mb-4 text-center">Introdueix les dades de l'alumne per afegir-lo al sistema. No es obligatori assignar un ordinador.</p>
<form method="POST" action="{{ url_for('post_alumne') }}">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border-xl p-4">
    <label class="label">Nom i primer cognom</label>
    <input type="text" name="nom" placeholder="Nom i primer cognom de l'alumne" class="input" required />
    <label class="label">Identificador</label>
    <input type="text" name="identificador" placeholder="Identificador de l'alumne o alumna" class="input" required />
    <label class="label">Curs</label>
    <input type="text" name="curs" placeholder="Curs" class="input" required />
    <label class="label">Correu electrònic</label>
    <input type="email" name="email" placeholder="Correu electrònic" class="input" required />
    <label class="label">Id del ordinador (opcional)</label>
    <input type="text" name="ordinador_id" placeholder="ID de l'ordinador" class="input" />
    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white p-2 w-full rounded">Enregistrar alumne</button>
  </fieldset>
</form>
  </div>

</div>
{% endblock %}