{% extends "base.html" %}
{% block content %}
<div class="flex justify-center items-center min-h-[80vh]">

  <div class="p-10 m-4 w-full max-w-xl rounded-lg flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-4 text-center">Assignar Ordinador a Alumne</h1>
    <p class="mb-4 text-center">Introdueix l'ID de l'ordinador i l'ID de l'alumne per assignar l'ordinador a l'alumne.</p>
<form method="POST" action="{{ url_for('assignar_ordinador_html') }}">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border-xl p-4">
    <label class="label">Id del ordinador</label>
    <input type="text" name="ordinador_id" placeholder="ID de l'ordinador" class="input" required />
    <label class="label">Id del alumne</label>
    <input type="text" name="alumne_id" placeholder="ID del alumne" class="input" required />
    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white p-2 w-full rounded">Assignar ordinador!</button>
  </fieldset>
</form>
  </div>
</div>
{% endblock %}